:root {
  --blue: #4483d9;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

div#app {
}

@media print {
  body {
    width: 98%;
    margin: 1%;
    font-size: 10px;
  }
}

header {
  text-align: right;
  border-bottom: 0.5em solid #4483d9;
  padding-bottom: 0.5em;
}

header a {
  text-decoration: none;
}

section {
  width: 100%;
  border-bottom: 1px solid #4483d9;
}

section:last-child {
  border: none;
}

#skill-container {
  position: relative;
  overflow: hidden;
  clear: after;
}

.skill {
  width: 48%;
  padding: 0.5em 0.25em;
  float: left;
  display: block;
}

.skill:after {
  clear: left;
}

.header1 {
  font-size: 1.5em;
  margin: 0.25em 0;
}
.header2 {
  font-size: 1.25em;
  color: #4483d9;
  font-weight: 400;
  margin: 0.25em 0;
}

.time {
  font-style: italic;
  float: right;
  font-weight: 100;
}
.label {
  font-weight: bold;
  font-size: 1.1em;
}
